/* Toggle button style */
#sidebar-toggle-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 9999;
    background: #2980b9;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}


html.sidebar-hidden .wy-nav-side {
    transform: translateX(-300px);
}

html.sidebar-hidden .wy-nav-content-wrap {
    margin-left: 0 !important;
}

/* 
you cannot change font-size of pre, but you can with span in pre
*/
.highlight pre span {
    font-size: 800%;
}